<!DOCTYPE html>
{% extends "main_app/common.html" %}


<html lang="en">
    {% block content %}
    <body style="background-color:white;">
        <div class="container" style="justify-content: center;">
            <h1 style="text-align: center;";>Update Contacts</h1>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <br>
                <button style="color:white; background-color:blueviolet;" class="btn btn info" name="submit" type="submit"><b>Update</b></button>
            </form>
            
        </div>
    {% endblock %}



</html>