
.carousel-container{
    padding: 3% 0;
    text-align: center;
}
.carousel-item{
    
    /* height: initial !important; */
    width: inherit !important;
    visibility: visible !important;
    position: relative !important;

}

.carousel{
    /* height: initial !important; */
}
.carousel .carousel-item{
    height:auto !important;
}